numpy
h5py
matplotlib
scipy
Pillow
sklearn
tensorflow
keras
pydot
pandas
music21
#course c5w2 for some music thing in jazz solo
pygame
#course c5w2 for some emoji
emoji
#course c5w3 for some emoji
faker
tqdm
babel
#course c5w3 for some audio
pydub